<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>31/03/2025</title>
    <script>
        function pintarRetangulo(){
            let retangulo = document.getElementById('retangulo')
            retangulo.style.backgroundColor = 'red'
            retangulo.innerText = 'javascript'
        }
    </script>
</head>
<body>
    <div id="retangulo" onclick="pintarRetangulo()">
        joana
    </div>
</body>
</html>