* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #ecb949, #d1cf63);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#containe {
    border: 2px solid rgb(13, 13, 14);
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: white;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    width: 110vh;
    height: 95vh;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
}

#containe-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#visor {
    background-color: rgb(190, 185, 185);
    height: 10vh;
    width: 150vh;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    justify-content: space-between; 
    align-items: center;            
    padding: 0 20px; 
}

#text-principal {
    color: rgb(9, 10, 10);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    height: 5vh;
    margin: 20px auto;
}

img {
    border: 2px solid rgb(95, 95, 92);
    width: 40vh;
    height: 40vh;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 20px;
    flex-wrap: wrap;
    border-radius: 10px;
}

#habilidades {
    background-color: rgb(78, 158, 250);
    border: 2px solid rgb(12, 9, 12);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

#informacao {
    line-height: 1.6;
    font-size: 1rem;
    width: 50vh;
}

#informacao p {
    margin-bottom: 20px
}